<!-- Clients Aside -->

<aside class="clients">
	<div class="container">
  	<div class="row">
  		<div class="col-md-3 col-sm-6">
  			<a href="http://iasl.iis.sinica.edu.tw">
  				<img src="/images/cooperator/iasllogo.png"  class="img-responsive img-centered twid" alt="智慧型代理人系統實驗室/Intelligent Agent Systems Lab">
  			</a>
  		</div>
  		<div class="col-md-3 col-sm-6">
  			<a href="https://www.ntuh.gov.tw">
  				<img src="/images/cooperator/ntuhlogo.png" class="img-responsive img-centered" alt="臺大醫院/National Taiwan University Hospital">
  			</a>
  		</div>
  		<div class="col-md-3 col-sm-6">
  			<a href="http://bioinfo.nhri.org.tw/">
  				<img src="/images/cooperator/nhrilogo.png" class="img-responsive img-centered" alt="國家衛生研究院/National Health Research Institutes">
  			</a>
  		</div>                
		<div class="col-md-3 col-sm-6">
  			<a href="http://bioinfo.nhri.org.tw/">
  				<img src="/images/cooperator/cgmhlogo.png" class="img-responsive img-centered" alt="長庚紀念醫院/Chang Gung Memorial Hospital">
  			</a>
  		</div>		
		<div class="col-md-3 col-sm-6">
  			<a href="http://bioinfo.nhri.org.tw/">
  				<img src="/images/cooperator/kmuhlogo.png" class="img-responsive img-centered" alt="高醫附設中和醫院/Kaohsiung Medical University Chung-Ho Memorial Hospital">
  			</a>
  		</div>
		<div class="col-md-3 col-sm-6">
  			<a href="http://www.unsw.edu.au/">
  				<img src="/images/cooperator/TCRNlogo.png" class="img-responsive img-centered" alt="Translational Cancer Research Network">
  			</a>
  		</div>
		<div class="col-md-3 col-sm-6">
  			<a href="http://www.unsw.edu.au/">
  				<img src="/images/cooperator/ibalogo.png" class="img-responsive img-centered" alt="Translational Cancer Research Network">
  			</a>
  		</div>
		
    </div> 		
	</div>
</aside>
