<!-- Research Section -->
<section id="research">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Research</h2>
				<h3 class="section-subheading text-muted">Our lab applied data mining technology to interpret the information buried within big unstructured data.</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<!--i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i-->
					<i class="fa fa-search fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Biomedical Text Mining</h4>
				<p class="text-muted">Extract knowledge nuggets from texts and literature of the biomedical and molecular biology domain.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Clinical Natural Language Processing</h4>
				<p class="text-muted">Extract and structure clinically-relevant outcomes from clinical texts to aid decision support.</p>
            </div>
            <div class="col-md-4">
      	        <span class="fa-stack fa-4x">
       		        <i class="fa fa-circle fa-stack-2x text-primary"></i>
       		        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
       	        </span>
       	        <h4 class="research-heading">Social Media Mining</h4>
       	        <p class="text-muted">Extract, analyze and visualize patterns and trends from social media data.</p>
            </div>
		    <div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fas fa-images fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Computer Vision</h4>
				<p class="text-muted">Enabling computers to understand what they see</p>
		    </div>
		</div>
	</div>
</section>