<!-- Research Section -->
<section id="research">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">實驗室簡介</h2>
				<h3 class="section-subheading text-muted">智慧型系統實驗室的主持人為戴鴻傑教授，目前實驗室主要的研究方向以跨領域大數據資料探勘為主。我們以資料探勘、自然語言處理與機器學習等技術為基礎，發展各式演算法、語料庫並研發各種智慧型軟體系統來協助各領域人士從未結構化巨量資料中抽取出結構化資訊，進而轉化為知識寶藏。</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<!--i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i-->
					<i class="fa fa-search fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">生醫文獻探勘</h4>
				<p class="text-muted">以文獻探勘技術從生物醫學相關文獻中擷取出知識。</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">臨床自然語言處理</h4>
				<p class="text-muted">將醫學臨床資料結構化並從中擷取臨床發現與結果來支援決策。</p>
      </div>
      <div class="col-md-4">
      	<span class="fa-stack fa-4x">
       		<i class="fa fa-circle fa-stack-2x text-primary"></i>
       		<i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
       	</span>
       	<h4 class="research-heading">社群媒體探勘</h4>
       	<p class="text-muted">從社群媒體網路資料中擷取、分析並視覺化隱含的模板與趨勢。</p>
      </div>
		</div>
	</div>
</section>