<!-- Research Section -->
<section id="research">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="section-heading">Research</h1>
				<h2 class="section-subheading">"Unlocking the Insights Hidden in Vast Unstructured Data - Empowered by Advanced Data Mining Technology"</h2>
				<h3 class="section-subheading text-muted">Our lab specializes in data mining machine learning and natural language processing, with a focus on the biomedical and molecular biology domains. Our lab is actively involved in several projects related to clinical natural language processing, including the development of tools for cancer research and early detection. Additionally, our lab is involved in bio-text mining and has developed several software tools, such as the MicroRNA Identification web service and the BIOSMILE WEB SEARCH application.

					Our lab has a strong focus on using advanced technologies, such as artificial intelligence and computer vision, to analyze and interpret large amounts of data. Our team's expertise in these areas enables us to extract knowledge nuggets from unstructured data and turn them into actionable insights.
					
					Overall, our lab's focus on cutting-edge technologies and its involvement in several active projects and software development projects demonstrate a commitment to advancing the field of biomedical research and improving patient outcomes.</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<!--i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i-->
					<i class="fa fa-search fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Biomedical Text Mining</h4>
				<p class="text-muted">Extract knowledge nuggets from texts and literature of the biomedical and molecular biology domain.</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fa fa-hospital-o fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Clinical Natural Language Processing</h4>
				<p class="text-muted">Extract and structure clinically-relevant outcomes from clinical texts to aid decision support.</p>
            </div>
            <div class="col-md-4">
      	        <span class="fa-stack fa-4x">
       		        <i class="fa fa-circle fa-stack-2x text-primary"></i>
       		        <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
       	        </span>
       	        <h4 class="research-heading">Social Media Mining</h4>
       	        <p class="text-muted">Extract, analyze and visualize patterns and trends from social media data.</p>
            </div>
		    <div class="col-md-4">
				<span class="fa-stack fa-4x">
					<i class="fa fa-circle fa-stack-2x text-primary"></i>
					<i class="fas fa-images fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="research-heading">Computer Vision</h4>
				<p class="text-muted">Enabling computers to understand what they see</p>
		    </div>
		</div>
	</div>
</section>